body{
	background-color: black;
}
img{
	height: 25vw;
	max-width: 20vw;
	border: 2px white solid;
}
img:before {
    height: 25vw;
	max-width: 20vw;
	border: 2px white solid;
    background-image: url(IMG/istockphoto-924949200-1024x1024.jpg);
}
.navbar-brand{
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.rating{
	font-weight: bold;
}

.release{
	font-weight: bold;
}

.eachMovie{
	display: inline-grid;
	background-color: black;
	color: white;

}
.btnModal{
	background-color: black;
	margin-bottom: 35px;
	border: black;
}
.modal-content{
	color: black;
	padding: 2px;
	min-width: 656px;
}
.moviePosterInModal{
	padding: 12px;
}
.movieName{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Carrois Gothic SC', sans-serif;
}
.btn-primary{
	margin: 5px;
	padding: 5px;
	background: transparent;
	color: #5EADFF;
	border: 1px solid #5EADFF; 
}
#movieGenreLabel{
	color: white;
}
.movie-grid {
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	gap:5%;
  }